<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<% @cocktail.doses.each do |d| %>
  <%=  d.description  %>
  <%=  d.ingredient.name  %>
  <%= link_to 'Delete dose', dose_path(d), method: :delete %>
<% end %>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %>
<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail) %>




<%= link_to 'Back', cocktails_path %>
